In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
df=pd.read_csv('../Data/cleaned_dataset.csv')
df.head()

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,1,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,2,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,3,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,4,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [28]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [29]:
le = LabelEncoder()

# Columns to encode (excluding customerID and numerical columns)
cat_columns = ['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 
               'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 
               'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 
               'PaperlessBilling', 'PaymentMethod', 'Churn']

for col in cat_columns:
    df[col] = le.fit_transform(df[col])

In [30]:
bins = [0, 12, 24, 48, 60, np.inf]
labels = ['0-12', '13-24', '25-48', '49-60', '60+']
df['tenure_group'] = pd.cut(df['tenure'], bins=bins, labels=labels)
df['tenure_group'] = le.fit_transform(df['tenure_group'].astype(str))

In [32]:
service_cols = [
	'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
	'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies'
]

df['total_services'] = df[service_cols].sum(axis=1)

In [33]:
df['avg_charge_per_service'] = df['MonthlyCharges'] / (df['total_services'] + 1)

In [35]:
scaler=StandardScaler()
num_columns = ['tenure', 'MonthlyCharges', 'TotalCharges', 'total_services', 'avg_charge_per_service']
scaled_values = scaler.fit_transform(df[num_columns])

In [37]:
cols = [col for col in df.columns if col != 'Churn'] + ['Churn']
df = df[cols]

In [38]:
df.shape

(7021, 24)

In [39]:
df.to_csv('Featured_Data.csv')